<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="edu.nuc">
        <context:exclude-filter type="annotation"
                                expression="org.springframework.stereotype.Controller" />
    </context:component-scan>

    <context:property-placeholder location="classpath:jdbc.properties" />

    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driverClass}"></property>
        <property name="jdbcUrl" value="${jdbc.jdbcUrl}"></property>
        <property name="user" value="${jdbc.user}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>
    <!-- 事务 -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource" />
    </bean>
    <!-- 配置事务通知 -->
    <tx:annotation-driven transaction-manager="transactionManager" />

    <!-- 配置SessionFactory -->
    <bean name="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 实例化sqlSessionFactory时需要使用上述配置好的数据源以及SQL映射文件 -->
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:mybatis-config.xml"></property>
        <property name="mapperLocations" value="classpath:mapper/*Mapper.xml" />
        <property name="typeAliasesPackage" value="com.isscollage"></property>
        <!-- <property name="plugins"> <array> pagehelper分页插件 <bean class="com.github.pagehelper.PageInterceptor">
            <property name="properties"> 配置参数 <value>params=value1</value> </property>
            </bean> </array> </property> -->
        <property name="plugins">
            <array>
                <bean class="com.github.pagehelper.PageInterceptor">
                    <property name="properties">
                        <value>
                            　　　　　　　　　　　　　　　　helperDialect=mysql
                            　　　　　　　　　　　　　　</value>
                    </property>
                </bean>
            </array>
        </property>
    </bean>
    <!-- 配置扫描器,将myBatis接口的实现加入到ioc接口的实现中 -->
    <!-- 通过注解形式配置 -->
    <mybatis-spring:scan base-package="edu.nuc.dao" />

   <!-- <bean id="ticketDailyServiceJob"
          class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean"
          p:targetObject-ref="ticketDailyService" p:targetMethod="putInTicket"
          p:concurrent="false" />
    &lt;!&ndash; 配置定时器时间间隔 p:cronExpression &ndash;&gt;
    <bean id="ticketDailyServiceTrigger"
          class="org.springframework.scheduling.quartz.CronTriggerFactoryBean"
          p:jobDetail-ref="ticketDailyServiceJob" p:cronExpression="0 0 0 */15 *  ?" />
    &lt;!&ndash; 启动定时器 &ndash;&gt;
    <bean id="schedulerFactoryBean" lazy-init="false" autowire="no"
          class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref bean="ticketDailyServiceTrigger" />
            </list>
        </property>
    </bean>-->


</beans>
